.about-section__text {
  text-align: center;
  &__header {
    position: absolute;
    width: 100%;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    top: 10%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    text-decoration: underline;
    @include media-breakpoint-down(md) {
      font-size: 2.5rem;
      letter-spacing: 1rem;
    }
  }
  &__header--learning {
    position: absolute;
    width: 100%;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    top: 55%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    text-decoration: underline;
    @include media-breakpoint-down(md) {
      font-size: 2.5rem;
      letter-spacing: 1rem;
    }
  }
  &__paragraph {
    position: absolute;
    width: 90%;
    font-size: 2rem;
    font-weight: 300;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include media-breakpoint-down(md) {
      font-size: 1.5rem;
    }
  }
  &__list {
    position: absolute;
    width: 90%;

    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    &__item {
      font-size: 3rem;
      padding-top: 2rem;
      font-weight: 400;
      transition: all 0.4s;
      animation-name: moveInRight;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      &:hover {
        transform: scale(1.3);
      }
    }
    &__item--learning {
      font-size: 3rem;
      padding-top: 2rem;
      font-weight: 400;
      transition: all 0.4s;
      animation-name: moveInRight;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      &:hover {
        transform: scale(1.3);
      }
    }
  }
  &__list--learning {
    position: absolute;
    width: 90%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
  }
}
