.col {
  &:not(:last-child) {
    margin-right: 2rem;
  }
  &__about {
    background-color: rgba($white, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($black, 0.15);
    transition: transform 0.3s;
  }
  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}
.container {
  &__about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
