.footer {
  background-color: $white;
  height: 35vh;

  &__navigation {
    border-top: 1px solid $black;
    padding-top: 2rem;
    display: inline-block;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $white;
      background-color: $black;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $gray-200;
      box-shadow: 0 1rem 2rem rgba($black, 0.4);
      transform: rotate(5deg) scale(1.3);
    }
  }

  &__copyright {
    border-top: 1px solid $black;
    padding-top: 2rem;
    width: 80%;
    float: right;
  }
}
