.section-about {
  background-color: $primary;
  height: 85vh;
}
.section-stories {
  position: relative;
  padding: 25rem 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
}
