.section-header {
  position: relative;
  padding: 25rem 0;
  height: 95vh;

  overflow: hidden;
}

.section-qualifications {
  background-color: $gray-100;
  opacity: 0.8;
  height: 125vh;
  position: relative;
  padding-bottom: 10rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 85%);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 85%);
}
.about-section {
  margin-bottom: 5rem;
  &__col {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
  }
  &__dark {
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    position: relative;
    background-image: linear-gradient(
        to right bottom,
        rgba($blue-300, 0.8),
        rgba($blue-500, 0.8)
      ),
      url(/public/img/mateusz-klein-sPVHScUIPiI-unsplash.jpg);
    background-size: cover;
    background-position: top;

    height: 125vh;
    color: white;
  }
  &__light {
    position: relative;
    background-image: linear-gradient(
        to right bottom,
        rgba($white, 0.8),
        rgba($gray-100, 0.8)
      ),
      url(/public/img/mateusz-klein-sPVHScUIPiI-unsplash.jpg);
    background-size: cover;
    background-position: top;

    height: 125vh;
    color: black;
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out;
  }
}

.footer {
  position: relative;
  width: 100%;
  height: 95vh;
}
