@import "../../../node_modules/bootstrap/scss/bootstrap";

@import "src/assets/sass/components/section.scss";
@import "src/assets/sass/components/bg-video.scss";
@import "src/assets/sass/base/base.scss";
@import "src/assets/sass/base/typography.scss";
@import "src/assets/sass/base/animations.scss";
